ResolutionWidth=700
ResolutionHeight=500
BackgroundSpeed=5
BackgroundColor=#EDFFFF
StickmanSize=normal
StickmanStartY=300
StickmanStartX=-200
StickmanGravity=9.8
StickmanVerticalVelocity=10
StickmanVelocity=10
NumberOfObstacles=8
Obstacle0Width=200
Obstacle0Height=40
Obstacle0SpaceTillNext=-200
Obstacle0YPosition=200
Obstacle0Color=#ff0000
Obstacle1Width=200
Obstacle1Height=40
Obstacle1SpaceTillNext=20
Obstacle1YPosition=300
Obstacle1Color=#0000ff
Obstacle2Width=100
Obstacle2Height=20
Obstacle2SpaceTillNext=20 
Obstacle2YPosition=100
Obstacle2Color=#00ff00
Obstacle3Width=80
Obstacle3Height=20
Obstacle3SpaceTillNext=100
Obstacle3YPosition=250
Obstacle3Color=#00ffff
Obstacle4Width=200
Obstacle4Height=40
Obstacle4SpaceTillNext=20
Obstacle4YPosition=120
Obstacle4Color=#333333
Obstacle5Width=100
Obstacle5Height=10
Obstacle5SpaceTillNext=100
Obstacle5YPosition=250
Obstacle5Color=#432A67
Obstacle6Width=70
Obstacle6Height=30
Obstacle6SpaceTillNext=100
Obstacle6YPosition=200
Obstacle6Color=#432A67
Obstacle7Width=200
Obstacle7Height=30
Obstacle7SpaceTillNext=100
Obstacle7YPosition=270
Obstacle7Color=#432A67