ResolutionWidth=700
ResolutionHeight=600
BackgroundSpeed=5
BackgroundColor=#EDFFFF
StickmanSize=normal
StickmanStartY=300
StickmanStartX=-100
StickmanGravity=9.8
StickmanVerticalVelocity=10
StickmanVelocity=6
StickmanLives=5
Stage2On=1
Stage3On=1
setEnemies=0
NumberOfStages=3
NumberOfObstacles=3
Obstacle0Width=500
Obstacle0Height=30
Obstacle0SpaceTillNext=0
Obstacle0YPosition=220
Obstacle0Color=#ff0000
Obstacle1Width=20
Obstacle1Height=300
Obstacle1SpaceTillNext=0
Obstacle1YPosition=100
Obstacle1Color=#0000ff
Obstacle2Width=100
Obstacle2Height=20
Obstacle2SpaceTillNext=100
Obstacle2YPosition=250
Obstacle2Color=#00ffff
NumberOfObstacles1=4
Obstacle0Width1=200
Obstacle0Height1=40
Obstacle0SpaceTillNext1=10
Obstacle0YPosition1=200
Obstacle0Color1=#ff1111
Obstacle1Width1=50
Obstacle1Height1=100
Obstacle1SpaceTillNext1=50
Obstacle1YPosition1=200
Obstacle1Color1=#f19283	
Obstacle2Width1=100
Obstacle2Height1=100
Obstacle2SpaceTillNext1=50
Obstacle2YPosition1=200
Obstacle2Color1=#ff11ee
Obstacle3Width1=100
Obstacle3Height1=300
Obstacle3SpaceTillNext1=100
Obstacle3YPosition1=100
Obstacle3Color1=#123145
NumberOfObstacles2=1
Obstacle0Width2=200
Obstacle0Height2=40
Obstacle0SpaceTillNext2=200
Obstacle0YPosition2=200
Obstacle0Color2=#ff1111